*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width:600px) {
    .body {
        overflow-x: hidden;
      
    }
}

.APcontainer{
    display: flex;
    flex-direction: row;
}
.APBox1{
    width: 700px;
    height:650px;
    position:absolute;
    left: 0px;
    background-color:#c28888;
}
@media screen and (max-width:600px) {
    .APBox1 {
       width:500px
    }
}
.scrappaper{
    width: 850px;
    position: absolute;
    right: -700px;
}
@media screen and (max-width:600px) {
    .scrappaper {
       display:none;
    }
}
.floralscrapp{
    width:300px;
    position: absolute;
    right: 400px;
    top:0px;
}
@media screen and (max-width:600px) {
    .floralscrapp {
       display:none;
    }
}
.coolpaper1{
    width:600px;
    position: absolute;
    right: 150px;
    bottom: 0px;
}
@media screen and (max-width:600px) {
    .coolpaper1 {
      bottom: -150px;
      display: none;
    }
}
.selfp{
    position: absolute;
    top: 150px;
    left:200px
}
@media screen and (max-width:600px) {
    .selfp {
       height:300px;
       top:30px;
       left: 95px;
    }
}
.graphp{
    position: absolute;
    top: 50px;
    left:75px;
    width: 400px;
}
@media screen and (max-width:600px) {
    .graphp {
      top: 230px;
      left:-100px;
      height: 1000px;
      width:600px;
    }
}
.wtape1{
    position: absolute;
    top: 65px;
    left: 295px;
}
@media screen and (max-width:600px) {
    .wtape1 {
      top: -10px;
      height: 110px;
      left: 165px;
    }
}
.wtape2{
    position:absolute;
    bottom: 30px;
    left: 90px
}
@media screen and (max-width:600px) {
    .wtape2 {
    height: 110px;
    bottom: 260px;
    left: 165px
    }
}

.about{
    width: 500px;
    border: black;
    border-radius: 1px;
    position:absolute;
    right: -500px;
    bottom: 40px;
}
@media screen and (max-width:600px) {
    .about {
        width:400px;
        right:40px;
        top: 370px;
      
    }
}

p{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}
@media screen and (max-width:600px) {
    p {
        font-size: 1.5rem;
        
    }
}

